{% extends "page_base.html" %} {% block content %}
				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">April 25, 2017</span>
									<h1>Volunteering </br> for the IFoA</h1>
									<p>
										This page details the article I wrote when volunteering for the IFoA' Machine Learning in Reserving working party.
									</p>
								</header>
								<div class="image main" style="width: 270px; margin: auto;"><img src="{{ url_for('static', filename='images/mlr_img.png') }}" alt="" width="270" height="270"/></div><br/>
								<p>While working as an actuary I volunteered to work for the IFoA's Machine Learning in reserving working party. Admittedly I did so wit the hope it would further skills and knowledge alongside helping out where I can. I realised that, when looking at it through this lens I could use the resources that the working party had put out to learn the machine learning techniques I was supposed to be help investigate and at the same time write a blog detailing my process and helping them through the journey I took and avoid main of the pitfalls. So that's what I did. The blog was officially published by the working party on the 31st of October.</p>
								<p><a class="links" href="https://institute-and-faculty-of-actuaries.github.io/mlr-blog/post/foundations/ml-journey/">My Machine Learning in Reserving Journey</a></p>
								<p>I hope to go back to the working party at some point, and help out again.</p>
							</section>

					</div>
{% endblock %}