				<!-- Footer -->
					<footer id="footer">
						<section>
							<p>Send me a message below or by using my contact details!</p>
							<form method="post" action="{{ url_for('contact') }}">
								<div class="fields">
									<div class="field">
										<label for="name" style="text-align:left;">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email" style="text-align:left;">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message" style="text-align:left;">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Embassy Residence, Street 41<br />
								Phnom Penh, 120101</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p>+855 12 422 736</p>
							</section>
							<section>
								<h3>Email</h3>
								<p>adamstanley537@gmail.com</p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
                                    <li><a href="https://www.linkedin.com/in/adam-stanley-90b262133/" class="icon brands fa-linkedin"><span class="label">Instagram</span></a></li>
                                    <li><a href="https://github.com/adamstanley537" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                </ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>Adam Stanley - Portfolio</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>